<html>
	<head>
		<title>ToDo List</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/app.css">
    </head>
	<body>
		<h1>WorkOut Plan</h1>

		<div id="container">
 			<form id = "logInForm"  method="POST">
				<table style="width:100%">
					<tr>
						<td>
							<label for="Account">Account : </label>
						</td>
						<td>
							<input type="text"  name="Account" id="Account" placeholder="admin" required />
						</td>
					</tr>
					<tr>
						<td>
							<label for="Password">Password:</label>
						</td>
						<td>
							<input type="password"  name="Password" id="Password" placeholder="xxxx" required />
						</td>
					</tr>
				</table>
				<input type="submit" id="submit" value ="sumit" />				
			</form>
			


		 </div>
	<script type="text/javascript" src="js/app.js"> </script>
	</body>

</html>